/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
/* adding this comment cause git status is being weir */
* {
	font-family: Arial, Helvetica, sans-serif;
	text-wrap-mode: wrap;
	font-weight: bolder;
}
header {

	padding: 40px 10px;
	background-color: #FFDBAA;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 3px solid black;

}

h1 {

	color: #553100;

}


ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
	width: 650px;
	overflow: hidden;
}

ul li {
	background-color: #805215;
	padding: 20px;
}

header ul li a {
	float: left;
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

li:hover {
	background-color: #3d2608;
}

body {
	background-color: #D4A76A;
	margin: 0;
}
.smallBoxes ul {
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: auto;
	padding: 40px;
	margin: 0;

}
.smallBoxes ul li {
	height: 200px;
	width: 300px;
 	border: 1px solid black;
	box-shadow: 5px 5px 5px black;
	padding: 10px 10px;
	background-color: white;
	text-wrap: wrap;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}



.smallBoxes ul li a {
	border: 2px solid black;
	width: 200px;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	background-color: #805215;
	padding: 10px;
	display: flex;
	justify-content: center;
}

.smallBoxes ul li a:hover {
	background-color: #3d2608;
}

.longbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	margin: 20px;
		border: 1px solid black;
	box-shadow: 5px 5px 5px black;
}

.longbox > * {
	padding: 10px;
}

.longbox a {
		border: 2px solid black;
	height: 50px;
	width: 1000px;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	background-color: #805215;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.longbox a:hover {
	background-color: #3d2608;
}

